# Create connection

In [1]:
import mysql.connector

In [2]:
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
)
cursor = conn.cursor()

# Create schema

In [3]:
create_schema_query = "CREATE DATABASE IF NOT EXISTS GBC_Superstore;"
cursor.execute(create_schema_query)
conn.commit()

In [4]:
# Create connection with schema specified
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="GBC_Superstore"
)
cursor = conn.cursor()

# Create customers table

In [5]:
create_customers_table_query = """
CREATE TABLE IF NOT EXISTS customers (
    customer_id VARCHAR(255) PRIMARY KEY,
    customer_name VARCHAR(255),
    segment VARCHAR(255)
)
"""
cursor.execute(create_customers_table_query)
conn.commit()

# regions table

In [6]:
create_regions_table_query = """
CREATE TABLE IF NOT EXISTS regions (
    region_id INT AUTO_INCREMENT PRIMARY KEY,
    region VARCHAR(255),
    regional_manager VARCHAR(255)
)
"""
cursor.execute(create_regions_table_query)
conn.commit()

# orders table

In [7]:
create_orders_table_query = """
CREATE TABLE IF NOT EXISTS orders (
    order_id VARCHAR(255) PRIMARY KEY,
    order_date DATE,
    ship_date DATE,
    ship_mode VARCHAR(255),
    customer_id VARCHAR(255),
    city VARCHAR(255),
    state VARCHAR(255),
    postal_code FLOAT,
    region_id INT,
    returned VARCHAR(3),
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id),
    FOREIGN KEY (region_id) REFERENCES regions(region_id)
)
"""
cursor.execute(create_orders_table_query)
conn.commit()

# products table

In [8]:
create_products_table_query = """
CREATE TABLE products (
  product_id VARCHAR(255) PRIMARY KEY,
  category VARCHAR(255),
  sub_category VARCHAR(255),
  product_name VARCHAR(255)
);
"""
cursor.execute(create_products_table_query)
conn.commit()

# orders_products tabel

In [9]:
create_orders_products_table_query = """
CREATE TABLE IF NOT EXISTS orders_products (
    order_id VARCHAR(255),
    product_id VARCHAR(255),
    sales FLOAT,
    quantity INT,
    discount FLOAT,
    profit FLOAT,
    FOREIGN KEY (order_id) REFERENCES orders(order_id),
    FOREIGN KEY (product_id) REFERENCES products(product_id)
);
"""
cursor.execute(create_orders_products_table_query)
conn.commit()